In [ ]:
# import all of the necessary libraries
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# load the dataset
gold = pd.read_csv('/content/gld_price_data.csv')
gold.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  01/02/08  1447.160034  84.860001  78.470001  15.180  1.471692
1  01/03/08  1447.160034  85.570000  78.370003  15.285  1.474491
2  01/04/08  1411.630005  85.129997  77.309998  15.167  1.475492
3  01/07/08  1416.180054  84.769997  75.500000  15.053  1.468299
4  01/08/08  1390.189941  86.779999  76.059998  15.590  1.557099

In [ ]:
# create feature and target variables
X = gold[['SPX','USO','SLV','EUR/USD']]
y = gold['GLD']

In [ ]:
# divide the dataset into a training and test datasets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
# scale the features 
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [ ]:
# create the ANN model
model = Sequential()

In [ ]:
# create the dense layers
model.add(Dense(10,activation='relu', input_dim=4))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='linear'))

In [ ]:
# compile the model
model.compile(loss="mean_squared_error",optimizer='Adam')

In [ ]:
# train the model
history = model.fit(X_train_scaled,y_train,epochs=50, validation_split=0.1)

Epoch 1/50
52/52 [==============================] - 1s 5ms/step - loss: 15595.3281 - val_loss: 15358.6494
Epoch 2/50
52/52 [==============================] - 0s 3ms/step - loss: 15436.6191 - val_loss: 15108.6309
Epoch 3/50
52/52 [==============================] - 0s 3ms/step - loss: 15086.8652 - val_loss: 14638.9922
Epoch 4/50
52/52 [==============================] - 0s 2ms/step - loss: 14419.3301 - val_loss: 13758.1641
Epoch 5/50
52/52 [==============================] - 0s 2ms/step - loss: 13277.0332 - val_loss: 12362.5283
Epoch 6/50
52/52 [==============================] - 0s 3ms/step - loss: 11591.7402 - val_loss: 10425.6377
Epoch 7/50
52/52 [==============================] - 0s 3ms/step - loss: 9375.2139 - val_loss: 8024.9307
Epoch 8/50
52/52 [==============================] - 0s 2ms/step - loss: 6863.4497 - val_loss: 5525.5557
Epoch 9/50
52/52 [==============================] - 0s 9ms/step - loss: 4466.6748 - val_loss: 3356.9133
Epoch 10/50
52/52 [==============================] - 0s 3ms/step - loss: 2579.5337 - val_loss: 1827.9923
Epoch 11/50
52/52 [==============================] - 0s 3ms/step - loss: 1398.2595 - val_loss: 974.8129
Epoch 12/50
52/52 [==============================] - 0s 2ms/step - loss: 828.3397 - val_loss: 623.1393
Epoch 13/50
52/52 [==============================] - 0s 7ms/step - loss: 619.1097 - val_loss: 505.6741
Epoch 14/50
52/52 [==============================] - 0s 3ms/step - loss: 553.1110 - val_loss: 464.8871
Epoch 15/50
52/52 [==============================] - 0s 2ms/step - loss: 529.1086 - val_loss: 447.2178
Epoch 16/50
52/52 [==============================] - 0s 3ms/step - loss: 513.6208 - val_loss: 434.5781
Epoch 17/50
52/52 [==============================] - 0s 5ms/step - loss: 499.3551 - val_loss: 423.5219
Epoch 18/50
52/52 [==============================] - 0s 5ms/step - loss: 485.7542 - val_loss: 412.8165
Epoch 19/50
52/52 [==============================] - 0s 3ms/step - loss: 472.6094 - val_loss: 402.3416
Epoch 20/50
52/52 [==============================] - 0s 2ms/step - loss: 458.9696 - val_loss: 392.6476
Epoch 21/50
52/52 [==============================] - 0s 3ms/step - loss: 445.8475 - val_loss: 382.7916
Epoch 22/50
52/52 [==============================] - 0s 2ms/step - loss: 433.2461 - val_loss: 372.8744
Epoch 23/50
52/52 [==============================] - 0s 2ms/step - loss: 420.6858 - val_loss: 362.7479
Epoch 24/50
52/52 [==============================] - 0s 3ms/step - loss: 408.3453 - val_loss: 353.7088
Epoch 25/50
52/52 [==============================] - 0s 2ms/step - loss: 396.8909 - val_loss: 344.4418
Epoch 26/50
52/52 [==============================] - 0s 3ms/step - loss: 384.5803 - val_loss: 335.5304
Epoch 27/50
52/52 [==============================] - 0s 3ms/step - loss: 373.2392 - val_loss: 326.4861
Epoch 28/50
52/52 [==============================] - 0s 3ms/step - loss: 362.1781 - val_loss: 317.7502
Epoch 29/50
52/52 [==============================] - 0s 3ms/step - loss: 351.2915 - val_loss: 309.0101
Epoch 30/50
52/52 [==============================] - 0s 2ms/step - loss: 340.4678 - val_loss: 301.1499
Epoch 31/50
52/52 [==============================] - 0s 2ms/step - loss: 330.0972 - val_loss: 292.9892
Epoch 32/50
52/52 [==============================] - 0s 2ms/step - loss: 319.7644 - val_loss: 284.5135
Epoch 33/50
52/52 [==============================] - 0s 3ms/step - loss: 309.7795 - val_loss: 276.5319
Epoch 34/50
52/52 [==============================] - 0s 3ms/step - loss: 300.1395 - val_loss: 268.9587
Epoch 35/50
52/52 [==============================] - 0s 3ms/step - loss: 290.5054 - val_loss: 261.2520
Epoch 36/50
52/52 [==============================] - 0s 3ms/step - loss: 281.4738 - val_loss: 253.8332
Epoch 37/50
52/52 [==============================] - 0s 2ms/step - loss: 272.1522 - val_loss: 246.1655
Epoch 38/50
52/52 [==============================] - 0s 3ms/step - loss: 263.2341 - val_loss: 239.1599
Epoch 39/50
52/52 [==============================] - 0s 3ms/step - loss: 254.9720 - val_loss: 232.0529
Epoch 40/50
52/52 [==============================] - 0s 3ms/step - loss: 245.9743 - val_loss: 225.5439
Epoch 41/50
52/52 [==============================] - 0s 3ms/step - loss: 237.7738 - val_loss: 218.7862
Epoch 42/50
52/52 [==============================] - 0s 3ms/step - loss: 229.4072 - val_loss: 212.0257
Epoch 43/50
52/52 [==============================] - 0s 2ms/step - loss: 221.4779 - val_loss: 205.6391
Epoch 44/50
52/52 [==============================] - 0s 2ms/step - loss: 213.9715 - val_loss: 199.2459
Epoch 45/50
52/52 [==============================] - 0s 3ms/step - loss: 206.4253 - val_loss: 193.2032
Epoch 46/50
52/52 [==============================] - 0s 3ms/step - loss: 199.1607 - val_loss: 187.2780
Epoch 47/50
52/52 [==============================] - 0s 3ms/step - loss: 192.0281 - val_loss: 181.4459
Epoch 48/50
52/52 [==============================] - 0s 2ms/step - loss: 185.3961 - val_loss: 175.7790
Epoch 49/50
52/52 [==============================] - 0s 2ms/step - loss: 178.6411 - val_loss: 170.3064
Epoch 50/50
52/52 [==============================] - 0s 2ms/step - loss: 172.3587 - val_loss: 165.1743

In [ ]:
# predict the price 
y_pred = model.predict(X_test_scaled)

15/15 [==============================] - 0s 2ms/step

In [ ]:
# calculate the r2 square
r2_score(y_test,y_pred)

0.7218544037805391